.task-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
}

.kanban-board {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.column {
  width: 300px;
  background: linear-gradient(
    200deg,
    rgba(2, 0, 36, 1) 62%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 14, 41, 1) 100%
  );
  padding: 10px;
  border-radius: 8px;
}

.column-title {
  color: white;
  font-weight: 400;
  padding: 0 20px;
}

.task-card {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 5px;
  cursor: grab;
  width: 80%;
  margin: 10px auto;
}

.task-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.delete-button {
  align-self: flex-end; /* Stick the button to the bottom */
  margin-top: auto; /* Push the button to the bottom */
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.task-text {
  flex: 1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.task-card:last-child {
  border: none;
}

.column.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}
