body {
	background: #A7F23B;
	font: 16px Arial, serif;
	height: 100%;
    margin: 0;
    
}

.cortar {
	width: 100%;
	height: 300px; 
	object-fit: cover;
	object-position: top; 
	
}

#cabecalho {
	width: 100%;
	height: auto;

}
#menu {

	background: #0E8A2A ;
	margin: 0;
	padding: 20px;
}

a {
	color: #EBF517;
	text-decoration: none;
	font-weight: bold;
	padding: 8px;
}
#conteudo-wrapper {
	flex: 1;
	display: flex;
	justify-content: center; 
	align-items: center; 
}

#conteudo {
	background: #5DC546 ;
	padding: 1.5em;
	color: #EBF517;
	margin-top: 30px;
    max-width: 800px;
	
}
.centralize {
	text-align: center;
	
	
}
