@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --accent-color: #514845;
  --base-color: white;
  --text-color: #2e2b41;
  --input-color: #c4cfd3d5;
  --login-color: #e3e2dc;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}
/* SignUp/Login */
body {
  min-height: 100vh;
  background-image: url(signup.jpg);
  background-size: cover;
  background-position: right;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--login-color);
  height: 100vh;
  width: max(25%, 400px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}
form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label,
.addflats label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
.addflats select {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border: 2px solid var(--input-color);
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input:hover,
.addflats select:hover {
  border-color: var(--accent-color);
}
form input:focus,
.addflats select:focus {
  outline: none;
  border-color: var(--text-color);
}
div:focus-within > label {
  background-color: var(--text-color);
}
form input::placeholder {
  color: var(--text-color);
}
form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:focus {
  outline: none;
  background-color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: underline;
}

form div.incorrect label {
  background-color: #f06272;
}
form div.incorrect input {
  border-color: #f06272;
}
form.addflats div.incorrect select {
  border-color: #f06272;
}

#error-message {
  color: #f06272;
}
.error-message {
  color: #f06272;
}
.success-message {
  font: inherit;
  font-size: 1.2rem;
}
/*HOME PAGE*/
.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--base-color);
  padding: 0;
  margin-bottom: 1rem;
}
.header-home a {
  color: var(--base-color);
  text-decoration: none;
}

.right-nav h2 {
  font-size: 1rem;
  width: 100%;
  padding-right: 1.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.left-nav a,
.righ-nav a {
  padding: 0.5rem 1rem;
  color: var(--base-color);
  text-decoration: none;
  white-space: nowrap;
}

.left-nav button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--text-color);
  color: var(--base-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.main-home {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  font-size: 0.8rem;
  background-color: rgba(194, 190, 190, 0.618);
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 10px;
}
.main-home p {
  margin: 0.5rem;
  max-width: 600px; /* Limit line length for readability */
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.right-nav .logo {
  max-width: 120px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.wrapper .logo-login {
  width: 300px;
  border-radius: 15px;
  height: auto;
}
/*ADD FLATS*/

.addflats {
  margin: auto;
}
.main-home h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.addflats label {
  width: 150px;
}

/*ALL FLATS*/
.flats-container {
  margin: auto;
  width: 80%;
  border-radius: 10px;
}
.flats-table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.flats-table th,
.flats-table td {
  padding: 5px;
  text-align: center;
  border-bottom: 3px solid var(--text-color);
  border-collapse: collapse;
}

.flats-table th {
  font-weight: bold;
}

.btn-table {
  border: none;
  background-color: var(--text-color);
  color: var(--base-color);
  padding: 4px;
  display: block;
  width: 60px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/*RESPONSIVE*/
@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}

@media (max-width: 770px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .left-nav {
    margin-top: 0;
  }
  .left-nav a {
    display: block;
    padding: 0;
    margin-top: 5px;
  }
  .right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  .left-nav button {
    margin: 0;
    margin-top: 10px;
  }
  .left-nav button {
    padding: 10px 20px;
  }
  .center-nav {
    margin: 0;
  }
}
