@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --accent-color: #514845;
  --base-color: white;
  --text-color: #2e2b41;
  --input-color: #c4cfd3d5;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}

body {
  min-height: 100vh;
  background-image: url(signup.jpg);
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--base-color);
  height: 100vh;
  width: max(25%, 400px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border: 2px solid var(--input-color);
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input:hover {
  border-color: var(--accent-color);
}
form input:focus {
  outline: none;
  border-color: var(--text-color);
}
div:focus-within > label {
  background-color: var(--text-color);
}
form input::placeholder {
  color: var(--text-color);
}
form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:focus {
  outline: none;
  background-color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: underline;
}

form div.incorrect label {
  background-color: #f06272;
}
form div.incorrect input {
  border-color: #f06272;
}

#error-message {
  color: #f06272;
}

.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--base-color);
  padding: 0;
}
.header-home a {
  color: var(--base-color);
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  max-width: 1200px;
  flex-wrap: wrap;
}

.left-nav a,
.righ-nav a {
  padding: 0.5rem 1rem;
  color: var(--base-color);
  text-decoration: none;
  white-space: nowrap;
}

.right-nav button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--text-color);
  color: var(--base-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left: 1rem;
}
@media (max-width: 480px) {
  .left-nav,
  .right-nav {
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  .left-nav a,
  .right-nav a {
    padding: 0.5rem 0; /* Reduz o padding para melhor espaçamento */
  }

  .right-nav button {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }
}
