@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: rgb(251, 251, 251);
  font-family: "Press Start 2P", cursive;
  background: rgba(0, 0, 0, 0.909);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid #239b25;
  margin: 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #c7e5f1);
}
.pipe {
  position: absolute;
  bottom: 0;
  width: 70px;
  animation: pipe-animation 1.5s infinite linear;
}
.mario {
  width: 150px;
  position: absolute;
  bottom: 0px;
}

.jump {
  animation: jump 500ms ease-out;
}

.gameover {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 300px;
  display: none;
  animation: gameOver-animation 0.1s ease-out forwards;
}

.reset {
  position: absolute;
  width: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  animation: reset-animation 0.1s ease-out forwards;
}
.clouds {
  position: absolute;
  width: 450px;
  animation: clouds-animation 20s infinite linear;
}
@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 190px;
  }

  50% {
    bottom: 190px;
  }
  60% {
    bottom: 190px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -450px;
  }
  to {
    right: 100%;
  }
}

@keyframes gameOver-animation {
  from {
    top: -100px;
  }
  to {
    top: 50%;
  }
}

@keyframes reset-animation {
  from {
    top: -100px;
  }
  to {
    top: 80%;
  }
}
