.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#f71381, #f52aeb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.drawer-links {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 13px;
  gap: 20px;
}

.drawer a {
  font-size: 18px;
  font-weight: 400;
  color: #a8a6a7;
  text-decoration: none;
}

.menu-button {
  color: #a8a6a7;
}

.auth-button:hover {
  text-decoration: underline;
}

.auth-button {
  color: #a8a6a7 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.drawer a:hover {
  text-decoration: underline !important;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 25px;
      font-weight: bold;
      color: white;
      display: flex;
      justify-content: center;
    }
  }
}
