@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

:root{
    --fonte-titulo: 'Passion One', cursive;
    --fonte-cordel: 'Sriracha', cursive;
    --fonte-história: 'Playwrite CO', cursive;
}



*{
    margin: 0;
    padding: 0;
}
header{
    
    background-color: #05CEDB;
    color: #243233;
    
    
}
header h1{
    font-family: var(--fonte-titulo);
    font-variant: small-caps;
    padding-top: 50px;
    text-align: center;
    font-size: 80px;
    
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 50px;
}
header a{
    text-decoration: none;
    font-weight: bold;
    color: #243233;

}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    background-color: rgb(224, 223, 218);
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.5vw;
}

section{
    background-image: url(imagens/history.jpg);
    display: block;
    unicode-bidi: isolate;
    
}
section p{
    padding-bottom: 15px;
    font-family: var(--fonte-cordel);
    font-weight: lighter;
    text-align: center;
    

    font-style: italic;
}

aside{
    padding-top: 20px;
}



#img1{
    background-image: url(imagens/fundomar.jpeg);
    background-position: center center;
}
#img2{
    background-image: url(imagens/Fizz-lor.jpeg);
    background-position: center center;
}
#img3{
    background-image: url(imagens/barco.jpg);
    
}
#img4{
    background-image: url(imagens/fizz_mesa.jpg);
    background-position: center center;
}

#img5{
    background-image: url(imagens/fizz_navio.jpg);
    background-position: center center;
}

#img6{
    background-image: url(imagens/fizz_1.jpg);
    background-position: center center;
    
}


.parallax{
    background-color: rgb(12, 12, 12);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
    background-size: cover;
    background-attachment: fixed;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;
    padding: 10vh 0; 
}

section.parallax > p{
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.521);
    text-shadow: 1px 1px 0px black;
    width: 50%;
    
    
    
}

footer{
    background-color: black;
    color: white;
    height: 40px;
    padding: 10px;
    text-align: center;
}

footer p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

