<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="addflats.js" defer></script>
    <title>RentEase-Home</title>
  </head>
  <body>
    <header class="header-home">
      <nav>
        <div class="left-nav">
          <a href="allflat.html">All Flats</a>
          <a href="home.html">Favorite Flats</a>
          <a href="update.html">Update Profile</a>
          <button id="logout-btn" onclick="">Logout</button>
        </div>
        <div class="center-nav"></div>
        <div class="right-nav">
          <img class="logo" src="/images/Logo.jpg" alt="Logo" />
          <h2 id="welcome">Hellor, user!</h2>
        </div>
      </nav>
    </header>
    <main class="main-home">
      <h2>Add Flats</h2>
      <p id="flat-error-message"></p>
      <form id="addform" class="addflats">
        <div>
          <label for="city-input">City</label>
          <input
            type="text"
            name="city"
            id="city-input"
            placeholder="Digit the city"
          />
        </div>
        <div>
          <label for="street-input">Street Name</label>
          <input
            type="text"
            name="street"
            id="street-input"
            placeholder="Digit the street name"
          />
        </div>
        <div>
          <label for="stnum-input">Street Number</label>
          <input
            type="number"
            name="street"
            id="stnum-input"
            placeholder="Digit the street number"
          />
        </div>
        <div>
          <label for="area-input">Area Size</label>
          <input
            type="number"
            name="area"
            id="area-input"
            placeholder="Digit the area size"
          />
        </div>
        <div>
          <label for="ac-input">Has AC</label>
          <select name="ac" id="ac-input">
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div>
          <label for="year-input">Year Built</label>
          <input
            type="number"
            name="year"
            id="year-input"
            placeholder="Digit the year built"
          />
        </div>
        <div>
          <label for="price-input">Rent Price</label>
          <input
            type="number"
            name="price"
            id="price-input"
            placeholder="Digit the rent price"
          />
        </div>
        <div>
          <label for="date-input">Date Availabiity</label>
          <input
            type="date"
            name="date"
            id="date-input"
            placeholder="Digit the date availability"
          />
        </div>
        <button type="submit">Add new flat</button>
      </form>
    </main>
  </body>
</html>
